<h3 id='fileName'>{{{fileName}}}</h3>
<table id='title' class='table' border='0' sytle="width: 100%">
  <tr>
    <td style='text-align:center'><h3 id='fileName'>{{{fileName}}}</h3></td>
    <td style='text-align:right'>
      <form action="/users/download/{{{uname}}}/{{{dname}}}">
      <button class="btn btn-primary" type="submit">Download</button>
      </form>

      {{#is current uname}}
      <form action="/users/delete/{{{uname}}}/{{{dname}}}">
      <button class="btn btn-primary" type="submit"style="background-color: firebrick;">Delete</button>
      </form>
      {{/is}}
    </td>
  </tr>
</table>

<div class='container'>
  <div id='mainFrame' align='center'>
  </div>
</div>

<div class='container'>
<!-- <table id='info' class='table table-dark table-bordered' style="table-layout: fixed; width: 100%"> -->
  <table id='info' class='table table-bordered' style='table-layout:fixed; width:100%'>
        <tr>
            <td style='text-align:center'>Name</td>
            <td>{{{dname}}}</td>
        </tr>    
        <tr>
            <td style='text-align:center'>Creator</td>
            <td>{{{uname}}}</td>
        </tr>
        <tr>
            <td style='text-align:center'>Description</td>
            <td>{{{desp}}}</td>
        </tr>
        {{#is current uname}}
        <tr>
            <td style='text-align:center'>Score</td>
            <td style="word-wrap:break-word">{{{score}}}</td>
        </tr>
        {{/is}}
        <tr>
            <td style='text-align:center'>Url</td>
            <td>{{{url}}}</td>
        </tr>
        {{#if links}}
        <tr>
            <td style='text-align:center'>Remixed from</td>
            <td>{{#each links}}
                <a href='http://{{{this}}}'>{{{this}}},</a>
                {{/each}}
            </td>
        </tr>
        {{/if}}
        {{!-- <tr>
          <td style='text-align:center'>Log (Volume)</td>
          <td style='word-wrap:break-word'>{{{volume}}}</td>
        </tr>
        <tr>
          <td style='text-align:center'>Number of Faces</td>
          <td style='word-wrap:break-word'>{{{nfaces}}}</td>
        </tr>
        <tr>
          <td style='text-align:center'>Log (Average Face Area)</td>
          <td style='word-wrap:break-word'>{{{avg_face_area}}}</td>
        </tr> --}}
    </table>
    {{!-- <div align='center' style='padding-bottom:10px'>
        <a href='#'>
            <button id='analyze' value='Analyze my design' class='btn-primary btn-lg' onclick='analyze()'>ANALYZE</button>
        </a>
    </div> --}}

    <code><div id='time' align='center'>
    </div></code>

    {{!-- <table style="border:1px solid black; width:100%; padding=15px; table-layout:fixed">
      <thead>
        <tr>
          <th align="center" colspan="2">Tracking time</th>
        </tr>
      </thead>
      <tr>
        <td>Raw Interaction Time</td>
        <td id='t1'>0 ms</td>
      </tr>
      <tr>
        <td>Effective Interaction Time</td>
        <td id='t2'>0 ms</td>
      </tr>
    </table> --}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/jsc3d.js"></script>
<script type="text/javascript" src="/jsc3d.touch.js"></script>
<script type="text/javascript" src="/jsc3d.console.js"></script>
<script type="text/javascript" src="/external/Sonic/sonic.js"></script>
<script type="text/javascript" src="/timing.js"></script>
<script type="text/javascript">
    
    var backGroundColor1 = "#FFFFFF";
    var backGroundColor2 = "#FFFFFF";
    var modelColor = "#CAA618";

    var div = document.getElementById('mainFrame');
    var filename = document.getElementById('fileName').innerText;

    w = watchDiv(div, filename);

    if (document.addEventListener)
        document.addEventListener('click', w.unwatch, false);
    else
        document.attachEvent('onclick', w.unwatch);


    window.onload = function () {

        let x = document.getElementById('fileName');
        let tempPath = x.innerHTML;
        x.style.display = 'none';

        var d = document.createElement('canvas');
        d.setAttribute('width', '500%');
        d.setAttribute('height', '500%');
        d.setAttribute('class', 'img-fluid');

        // var div = document.getElementById('mainFrame');

        div.appendChild(d);
        var viewer = new JSC3D.Viewer(d);
        var logoTimerID = 0;
        viewer.setParameter('SceneUrl', tempPath);
        viewer.setParameter('InitRotationX', 45);
        viewer.setParameter('InitRotationY', -45);
        viewer.setParameter('InitRotationZ', -45);
        viewer.setParameter('ModelColor', modelColor);
        viewer.setParameter('BackgroundColor1', backGroundColor1);
        viewer.setParameter('BackgroundColor2', backGroundColor2);
        viewer.setParameter('RenderMode', 'flat');
        viewer.setParameter('Renderer', 'webgl');
        //viewer.setParameter('SphereMapUrl', 'chrome.jpg');
        viewer.setParameter('ProgressBar', 'off');
        viewer.init();
        viewer.update();
    }
</script>
