<div class='container'>
  <h3 id='heading' class='text-center'>{{{uname}}}</h3>
</div>
<br>
<br>
<div class='container'>
  <table id='info' class='table table-dark table-bordered' style="table-layout: fixed; width: 100%">
    <tr>
      <td style='text-align:center'>Name</td>
      <td>{{{name}}}</td>
    </tr>
    <tr>
      <td style='text-align:center'>Email</td>
      <td>{{{ename}}}</td>
    </tr>
    <tr>
      <td style='text-align:center'>Condition</td>
      <td>{{{condition}}}</td>
    </tr>
    <tr>
      <td style='text-align:center'># Files</td>
      <td>{{{nfiles}}}</td>
    </tr>
  </table>
</div>
