<html>
<head>
  <title>SIT Design</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body width='device-width'>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">SIT Design</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        {{#if user}}
        <li class="nav-item active">
          <a class="nav-link" href="/users/homepage">Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/users/logout">Logout</a>
        </li>
        <li class="nav-item">
          <form action="/users/upload" class="form-inline my-2 my-lg-0">
            <button class="btn btn-info my-2 my-sm-0 navbar-btn" type="submit">Upload</button>
          </form>
        </li>
        <li class="nav-item">
          <form action="/users/altupload" class="form-inline my-2 my-lg-0">
            <button class="btn btn-info my-2 my-sm-0 navbar-btn" type="submit">Alt-Upload</button>
          </form>
        </li>
        <li class="nav-item" style='padding-left:1px'>
          <form action="/users/explore" class="form-inline my-2 my-lg-0">
            <button class="btn btn-primary navbar-btn" type="submit">Show All</button>
          </form>
        </li>
        <li class="nav-item" style='padding-left:1px'>
          <form action='/users/recommendations' class="from-inline my-2 my-lg-0">
            <button class="btn btn-primary navbar-btn" type="submit">Recommendations</button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/userinfo">Profile</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link active" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/users/register">Sign Up</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/users/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {{#if success_msg}}
        <div class="alert alert-success" style="width:1000px">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-danger" style="width:1000px">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger" style="width:1000px">{{error}}</div>
        {{/if}} {{{body}}}
      </div>

      <hr>

    </div>
    <!-- /container -->

  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
